.chat-messages {
    flex-grow: 1;
    margin-top: 20px;
    overflow-y: auto;
    scrollbar-width: thin;
}

.loader {
    width: 18px;
    height: 18px;
    border: 3px solid #ccc;
    border-top: 3px solid #007bff;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
    margin: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}